[Unit]
Description=Bluetooth Audio ALSA Backend
After=bluetooth.service bthelper@hci0.service
Requires=bluetooth.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/bluealsa -p a2dp-sink -p hsp-ag
#ExecStart=/usr/bin/bluealsa -p hsp-ag

[Install]
WantedBy=multi-user.target
